.nav {
	position: fixed;	/*화면에 고정(width, height 필수!!)*/
	width: 100%;
	
	background-color: #fcfcfc;
	padding: 20px 50px;
	left: 0px;
	bottom: 0px;
	border-top: 1px solid #f7f7f7;
	box-sizing: border-box;
}

.nav .nav__list {
	display: flex;
	justify-content: space-between;
}

.nav i{
	font-size: 20px;
}

.nav .nav__list-link{
	position: relative;
}

.nav .nav__badge {
	position: absolute;
	top: -7px;
	right: -7px;
	font-size: 12px;
	color: white;
	background-color: #e65f3f;
	width: 18px;
	height: 18px;
	/*글자 가운데 정렬*/
	display: flex;
	justify-content: center;
	align-items: center;
	
	/*height/2 -> 원 모양*/
	border-radius: 50%;
}