@import "reset.css";
@import "status-bar.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:300,400,600');
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";

/*모든 element에 적용*/
* {
	box-sizing: border-box; /*overcompensate 방지*/
}

body {
	background-color: white;
	padding: 10px 20px; /*top&bottom, left&right*/
	color: #1a1a1a;
	font-family: 'Quicksand', sans-serif;
	
}

a{
	color: inherit; /*color 상속*/
	text-decoration: none;
}